:root {
    /* add variables to use throughout the project */
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --theme-border: #24292e;
    --previewBg: rgb(251, 249, 243, 0.8);
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}


p, li, span, label, input, textarea {
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);

    /* to get rid of the margin of h1 and other elements  */
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);

    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

/* just to center the main section */
.greeting-wrapper {
    display: grid;
    min-height: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -3px 2px 12px -1px rgba(0,0,0,0.35); 
    box-shadow: -3px 2px 12px -1px rgba(0,0,0,0.35);

    border-radius: 5px 5px 0 0;


    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: 'nav-wrapper nav-wrapper'
    'left-column right-column';
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}



#navigation {
    margin: 0;
    padding: 10px;

}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1{background-color: #fc6058 ;}
#dot-2{  background-color: #FEc02f ;}
#dot-3{background-color: #2aca3e;}

.browser-dot {
    
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin: 5px;

    
}




.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;

    /* this will ignore the size of the image to fit the container */
    object-fit: cover;

    border: 2px solid var(--borderColor)
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
   -webkit-box-shadow: -3px 2px 12px -1px rgba(0,0,0,0.35); 
    box-shadow: -3px 2px 12px -1px rgba(0,0,0,0.35); 
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--theme-border)
}

#light-mode {
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b ;
}

#purple-mode{
    background-color: #7E4C74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: black;
}

.theme-dot:hover {
    border: 5px solid var(--theme-border);
}


/* RIGHT SECTION */

.right-column {
    grid-area: right-column;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
}



/* right after adding width to main-container, we set up the media query for that as well. */
@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}